.App {
  text-align: center;
  background-color: aqua;
}

.App-logo {
  height: 320px;
  width: 384px;
  pointer-events: none;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  align-self: center;
}

.App-header {
  background-color: #3a1a37;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1.title {
  text-align: right;
  padding-left: 65px;
  color: white;
  font-weight: 200;
}
p.body-text {
  font-size: 20px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  color: rgb(52, 7, 56);
}
p.top-text {
  color: rgb(207, 186, 209);
  padding-top: 20px;
  padding-left: 30px;
  font-size: 20px;
  text-align: right;
}
div.col {
  padding-top: 50px;
}
body.body-text {
  padding-top: 30px;
  background-color: rgb(226, 211, 228);
}
p.body-text-two {
  font-size: 15px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  color: rgb(52, 7, 56);
}
